.screen-top{
    display: flex;
    flex-wrap: nowrap;
    color: black;
    height: 60px;
    background-color: #023535;
}

.chat-username{
    display: inline;
}

.chat-img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 5px;
}

a, a:visited{
    color: black;
    display: inline;
    font-size: 1rem;
    padding: 10px;
}

p.chat-username {
    color: white;
    margin-top: auto;
    margin-left: 5px;
}

li.chat-chatter{
    display: flex;
    justify-content: flex-end;
}

form {
    position: fixed;
    bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

textarea#message{
    width: 80%;
    padding: auto;
    margin: auto;
}

button{
    background-color: transparent;
    color: black;
    width: 20px;
    margin: auto;
    align-items: flex-end;
}

.chat-body-outer{
    overflow-y: scroll;
    max-height: 60%;
}

