.screen-top > .back-button{
    display: flex;
    flex-wrap: nowrap;
}

.back-button{
    color: black;
    display: inline-block;
}

.chat-name{
    display: inline;
}

.Link{
    color: black;
}


