@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

  body {
    font-family: sans-serif;
    margin: 0rem;
    width: 100%;
    /* height: 100vh; */
    background-color: #000000;

    
  }
  
  
  
  h1, h2 {
    color: #333333;
    text-align: center;
  }
  
  .btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
  }

  .main_btn {
    font: inherit;
    font-size: 3pc;
    padding: 0.5rem 3rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
    margin-top:100px;
    margin-bottom:300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }
  
  .card {
    background-color: white;
    background-image: url("https://startechies.000webhostapp.com/end_users/profile_pictures/sample_2_profile_pic.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  .main_card {
    background-color: white;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    padding: 0rem;
    width: 100%;
    height: 850px;
    overflow-y: scroll;
    margin-bottom: 35%;
  }

  .main_image {

    background-size: contain;
    height: 200px;
    padding: 60px 30px 0 30px;
    margin-top: 5px;
    display: block;
    margin-left: 45px;
    margin-right: auto;
  }
  
  .actions {
    text-align: right;
  }
  
  .modal {
    box-shadow: 0 1px 4px rgba(0, 221, 255, 0.2);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .outer-box{
    width: 100%;
    /* height: 92vh;  */
    height: calc(var(--vh, 1vh) * 92);
   
    
    background-color: #023535;
    scroll-snap-type: y mandatory;
    overflow-y:auto;
    /* scroll-padding: 10px; */
    
    /* scroll-snap-stop:always; */
  }

  .inner-podcast-item{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-color: #023535;
  }