.commentScrollBox{
    /*background-color: azure;*/
    height: 25vh; /*11vh;*/   
    width: 90%;
    margin: 0 auto;
    overflow-y:scroll;
    /* padding-top: 16px;
     */
}

.utility-bar{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 40px;
    margin-right: 40px;
}

.utility-bar-like{
    margin-top: 0px;
}