.commentByUserOuter{
    background-color: rgb(0, 91, 182);
    border-radius: 13px;
    border: 3px solid;
    border-color: rgb(0, 91, 182);
    
    
    width: 90%;
    margin: 0 auto;
    /*height: 27px;*/
    overflow-wrap: break-word;
    padding-left: 3px;
    padding-right: 3px;
    
}  