.podcastOuter{
    /*background-color: #bab7ff;*/
    width: 100%;
    /*height: 84vh;*/ /*500px;*/
    height: 100%;
    margin-top: 0px;
    margin-bottom: 1px;
    padding-top: 19px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

button {
    margin-top: 1rem;
    border-radius: 25px;
    display: inline;
    width: 30%;
    background-color: #0CABA8;
}

.input-icon {
    margin-left: 40px;
    margin-right: 10px;
    color: white;
    padding: 0%;
    size: 80%;
}

.main_card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 90%;
    height: 86.9vh;
    overflow-y: scroll;
    position: absolute;
    bottom: 0%;
    top: 4%;
}

.profilePic{
    /* width: 70%;
    height:40%; */
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 80%;
}

.podcastTitle{
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 17px;
    text-align: center;
    font-size: 19px;
}

.podcastDescription{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    overflow-wrap: break-word;
}

.podcastCreator{
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    /* margin-bottom: 2.5%; */
    margin-bottom: 20px;
}

/* a{
    margin-left: 40%;
} */

.likes {
    background-color: transparent;
    color: white;
    margin-left: 70%;
    padding: 0;
    height: 0.14rem;
    margin-top: -8%;
    
}

.likes.active {
    color: '#ff69b4';
}

.truth{
    color: pink;
}
.false{
    color: yellow;
}