    .bottomNavbar{
        position: fixed;
        bottom: 0;
        left: -100%;
        background-color: #023535;
        /* height: 50px; */
        height: 8vh;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: right;
        width: 100%;
    }

    .bottomNavbar.active{
        left: 0;
        transition: 0ms;
    }

    .bottom-nav-menu {
        list-style-type: none;
        overflow: hidden;
        display: inline;
        margin: auto;
        white-space: nowrap;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .bottom-nav-item {
        float: left;
        size: 10px;
        white-space: nowrap;
        align-items: center;
        margin-top: 3px;
    }

    .bottom-nav-item a {
        display: block;
        color: white;
        align-self: center;
        text-align: center;      
        text-decoration: none;
        size: 20px;
    }
    
    .bottom-nav-item p{
        font-size: 13px;
    }

    .nav-icon {
        align-items: center;
    }

