.landing{
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: white;
    color: #015958;
    display: flex;
    align-items: center;
}

.landing-button {
    margin-top: 10px;
    background-color: #0CABA8;
    padding: 0.25rem;
    border-radius: 25px;
    color: white;
    white-space: nowrap;
    padding-right: 10px;
}

.landing-icon {
    margin-right: 10px;
    margin-left: 10px;
}