@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin-left: -0.9%;
    margin-right: -1%;
    padding: 0;
    font-family: 'Lato', sans-serif;
}