/* Chat info */

.screen-top{
    display: flex;
    flex-wrap: nowrap;
    color: black;
    height: 60px;
    background-color: #023535;
}

.chat-username{
    display: inline;
}

.chat-img {
    border-radius: 100%;
    width: 13vw;
    height: 7vh;
    margin: 5px;
}

p.chat-username {
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
}

.button-back-container{
    margin-top: 10px;
}

.button-back{
    color: black;
    display: inline;
    font-size: 1rem;
    padding: 10px;
}

/* Chat body */

.chat-body-outer {
    overflow-y: scroll;
    max-height: 70vh;
    width: 100%;
    position: relative;
}

.chat-text-outer {
    display: flex;
    margin-top: 1.5vh;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    bottom: 0;
}

.user-text {
    width: 100%;
    border-radius: 25px;
    border-color:#023535;
    border: 2px;
    border-style: solid;
    margin-right: 10vw;
}

.chatter-text {   
    width: 100%;
    display: flex;
    flex-wrap: nowrap;   
    justify-content: flex-end;

    border-radius: 25px;
    border-color: black;
    border: 2px;
    border-style: solid;
    margin-left: 10vw;
}

.chatter-text-inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: 70vw;
}

.user-test-inner{
    display: flex;
    flex-wrap: nowrap;
    width: 70vw;
}

.message-text{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.user-container-outer{
    display: flex;
    flex-wrap: nowrap;
}

.pfp-img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

/* Send Message */

.message-send {
    position: fixed;
    bottom: 45px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.send-message-outer{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 25px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #023535;
    width: 95%;
}

.send-message-inner{
    border-radius: 25px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #023535;
    width: 80%;
}

button.button-message{
    background-color: transparent;
    color: black;
    width: 10vw;
    margin: auto;
    margin-top: 4px;
    align-items: flex-end;
}

textarea#message{
    width: 100%;
    height: 8vh;
    padding: 7px;
    margin: 3px;
    margin-top: 5px;
    background-color: #023535;
}
